.course-details-container {
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 900px;
}

.course-header {
    background-color: #e5e7e9;
    color: #0c0b0b;
    padding: 15px;
    border-radius: 8px;
}

.course-title {
    font-size: 28px;
    margin-bottom: 10px;
}

.course-description {
    font-size: 18px;
    line-height: 1.5;
}

.course-teacher {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.lessons-section {
    margin-top: 30px;
}

.lessons-title {
    font-size: 22px;
    color: #004d99;
    font-weight: bold;
}

.lessons-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lesson-item {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lesson-header {
    margin-bottom: 10px;
}

.lesson-title {
    font-size: 20px;
    color: #333;
}

.lesson-content {
    font-size: 16px;
    color: #0f0d0d;
}

.enrollment-button {
    margin-top: 20px;
}

.btn-enroll {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

.message-success {
    font-size: 18px;
    font-weight: bold;
    color: rgb(210, 219, 210);
}
