<div class="course-form card">
<button  class="card-header" (click)="openForm = !openForm">
  <mat-icon>add</mat-icon>
  New Lesson
</button>
</div>
@if(openForm){
  
    <div class="course-form card">
      <div class="card-header">
        <h2>{{ isEditMode ? 'Edit Lesson' : 'Add Lesson' }}</h2>
      </div>
      <form [formGroup]="lessonForm" (ngSubmit)="onSubmit()" class="lesson-form">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Lesson Name</mat-label>
          <input matInput formControlName="title" required class="input-field">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Content</mat-label>
          <textarea matInput formControlName="content" rows="3" class="input-field"></textarea>
        </mat-form-field>
    
        <div class="form-buttons">
          <button mat-raised-button color="primary" type="submit">
            {{ isEditMode ? 'Update Lesson' : 'Add Lesson' }}
          </button>
        </div>
  </form>
</div>
}

<div class="lesson-cards-container">
  @for(l of lessons; track lessons.length){
  <div class="lesson-card">
    <h3 class="lesson-title">{{ l.title }}</h3>
    <p class="lesson-content">{{ l.content }}</p>
    <div class="lesson-actions">
      <button class="btn-edit" (click)="openUpdateFormHandler(l)">Edit</button>
      <button class="btn-delete" (click)="deleteLesson(l.id)">Delete</button>
    </div>
  </div>
  }

</div> 



<!-- 



<button class="btn-add" (click)="openForm = !openForm">Add New Lesson</button>
@if(openForm){
<div class="course-form card">
  <div class="card-header">
    <h2>{{ isEditMode ? 'Edit Lesson' : 'Add Lesson' }}</h2>
  </div>
  <form [formGroup]="lessonForm" (ngSubmit)="onSubmit()" class="lesson-form">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Lesson Name</mat-label>
      <input matInput formControlName="title" required class="input-field">
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content" rows="3" class="input-field"></textarea>
    </mat-form-field>

    <div class="form-buttons">
      <button mat-raised-button color="primary" type="submit">
        {{ isEditMode ? 'Update Lesson' : 'Add Lesson' }}
      </button>
    </div>
  </form>
</div>
}

<div class="lesson-cards-container">
  <div class="lesson-card">
    @for(l of lessons;track lessons){
      <h3 class="lesson-title">{{ l.title }}</h3>
      <p class="lesson-content">{{ l.content }}</p>
      <div class="lesson-actions">
        <button class="btn-edit" (click)="openUpdateFormHandler(l)">Edit</button>
        <button class="btn-delete" (click)="deleteLesson(l.id)">Delete</button>
      </div>
    }
   
  </div>
</div> -->
